<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="styles.css" />
		<title>Document</title>
	</head>
	<body>
		<div class="container">
			<div class="card">
				<div class="card-content">
					<div class="card-avatar-wrapper">
						<img class="card-avatar" src="./avatar.jpg" alt="Ваш аватар" />
					</div>
					<div class="card-container">
						<div class="card-text">Kafka</div>
						<div class="card-paragraph">Начинающий веб разработчик</div>
					</div>
				</div>
				<h2 class="card-message_title">Message:</h2>
				<div class="card_content-wrapper">
					<div class="card-message_content"></div>
				</div>
				<form action="">
					<input type="text" placeholder="Написать" class="card-input" />
				</form>
			</div>
		</div>
		<div class="container">
			<div class="test">
				<form class="form" action="" method='post'>
					<div class="input_boxs">
						<input
							class="test_input input1"
							placeholder="Имя"
							type="text"
							name="input1"
						/>
						<input
							class="test_input input2"
							placeholder="Фамилия"
							type="text"
							name="input2"
						/>
					</div>
					<input class="test_commit" type="submit" value="Commit" />
				</form>
			</div>
		</div>
	</body>
	<script src="./script.js" defer></script>
</html>
