@import url('./reset.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body {
	font-size: 16px;
	font-weight: 400;
	font-style: normal;
	font-family: 'Roboto', sans-serif;
	background-color: #0f0f0f;
}
.container {
	max-width: 1200px;
	margin: auto;
	padding: 15px;
}

.card {
	position: relative;
	width: 400px;
	min-height: 200px;
	max-height: 500px;

	background-color: #212121;
	border-radius: 8px;
	border: 1px solid #4d4d4d;
	padding: 15px;

	overflow: hidden;
	& .card-text {
		color: aliceblue;

		cursor: default;
		&:hover {
			text-decoration: underline;
		}
	}
	& .card-avatar {
		transition: 1s;
		display: block;

		width: 45px;
		height: 45px;
		border-radius: 40%;

		box-shadow: 2px 2px 5px #00000065;

		transition: border-radius 300ms, transform 300ms;

		&:hover {
			transform: scale(1.1);
		}
	}
	& .card-content {
		display: flex;
		align-items: center;

		padding-bottom: 10px;
		border-bottom: 1px solid #4d4d4d;

		margin-bottom: 10px;
		& .card-avatar-wrapper {
			overflow: hidden;
			border-radius: 40%;

			width: 50px;
			height: 50px;
		}
		& .card-container {
			padding-left: 10px;
		}
		& .card-text {
			margin-bottom: 5px;
		}
		& .card-paragraph {
			color: #a5a5a5;

			font-size: 12px;
			font-weight: 500;
			&:hover {
				cursor: default;
				text-decoration: underline;
			}
		}
	}
	& .card-message_title {
		color: #fff;

		font-size: 12px;
		font-weight: 700;

		text-transform: uppercase;

		margin-bottom: 5px;
	}

	& .card-message_content {
		color: #cacdc3;
		margin-bottom: 5px;
		margin-right: 10px;

		word-wrap: break-word;
		padding-left: 10px;
		padding-right: 10px;

		&:hover {
			background-color: #313131;
		}
		& .message_content-span {
			font-size: 14px;
		}
		& .message_content-link {
			color: #55b3ff;
			font-size: 12px;

			&:hover {
				text-decoration: underline;
			}
		}
	}
	& .card_content-wrapper {
		margin-bottom: 40px;

		max-height: 300px;
		overflow-y: auto;
	}
	& .card-input {
		position: absolute;
		bottom: 0;
		left: 0;
		color: #c6dae6;

		width: 100%;
		font-size: 14px;

		background-color: #0f0f0f;
		padding: 15px;
		border-radius: 0px 0px 8px 8px;
	}
}
.test {
	& .test_input {
		color: #fff;
		border: 1px solid #4d4d4d;
		padding: 10px;
		border-radius: 8px;

		&::placeholder {
			font-size: 12px;
		}
	}
	& .test_commit {
		color: #fff;
		padding: 10px 10px 10px 10px;
		border-radius: 8px;
		background-color: #00577e;

		font-size: 14px;
		font-weight: 400;

		transition: background-color 200ms;
		&:hover {
			background-color: #313131;
		}
	}
}
._object {
	color: #ccc;
	background-color: #00577e;
	padding: 0 5px 0 5px;
}

.form {
	border: 1px solid #4d4d4d;
	border-radius: 8px;
	padding: 20px 10px 20px 10px;
	display: inline-block;

	background-color: #212121;

	& .input_boxs {
		margin-bottom: 10px;
	}
}
